@font-face {
   font-family: 'Sono-Regular';
   font-display: swap;
   src: url('file:///C:/Users/benne/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-10-15_141325/fonts/Sono-Regular/font.woff2');
}
